*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

footer {
    width: 100%;
    background-color: #4d3957;
    color: white;
    font-size: 30px;
}

/* Navigasyon Menüsünün Stilleri (S) */

 .topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .3);
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:first-child {
      float: left;
      font-size: 42px;
      padding: 5px 16px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  } 

   @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
   @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

  /* Navigasyon Menüsünün Stilleri (F) */

  .font1 {
    color: white;
    font-size: 60px;
  }

  .font2 {
    color: white;
    font-size: 16px;
  }

  a.font2:hover {
    color: #23360b;
  }

  .font3 {
    color: white;
    font-size: 24px;
  }

  .font4 {
    color: #727272;
    font-size: 16px;
  }

  .galeriBaslik {
    border-top: 1px solid #94b963;
    border-bottom: 1px solid #94b963;
  }
  
  .galeriCol div:nth-child(2) {
    background-color: white;
  }

  .galeriCol img {
    max-width: 247.5px;
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .galeriCol {
    margin-bottom: 30px;
  }

  .img-thumbnail {
    padding: 0;
    background:none;
    border: none;
  }

  .IForm input, .IForm textarea {
    background-color: #68a097;
    color: white;
    border: none;
  }

  .IForm input {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }

  .IForm textarea {
    font-size: 16px;
  }

  .IForm button {
    font-size: 16px;
    font-weight: bold;
  }


